@import "../../_universal.less";
@import "_dimension.less";
@import "_colour.less";
@import "_typography.less";
//@import "_buttons.less";
//@import "_form.less";

html
{
  color: @text;
}

.page
{
  // Rules for default header
  > header
  {
    padding-top: 1.5em;
    padding-bottom: 0;
    border-bottom: 2px solid @orange;
    margin-bottom: 1em;

    > section
    {
      padding-top: 0;
      padding-bottom: 0;
    }

    .logo
    {
      background: transparent url('/images/header_logo.png') no-repeat top left;
      margin-right: 1em;
      display: inline-block;
      vertical-align: bottom;

      > a
      {
        padding: 0;
        display: block;

        img
        {
          #effortless > #dimension > .size(128px, 128px);
          display: block;
        }
      }
    }

    h1
    {
      font-size: 4em;
      padding: .75em 0 .25em 0;
      margin-bottom: 0;
      text-align: right;
    }

    nav
    {
      text-align: right;
      padding-top: 1em;

      // Head links are unique
      > a
      {
        font-size: 1.4em;
        padding: 4px 0 0 1.75em;
        color: @grey;

        &:hover{color: @grey_3;}
      }
    }
  }


  // Rules for default footer
  > footer
  {
    padding: .75em 0 0 0;

    .links a
    {
      font-size: 1.3em;
      color: @grey_4;

      &:hover
      {
        color: @grey;
      }
    }

    .social
    {
      list-style: none;
      text-align: right;

      > li
      {
        display: inline-block;
        padding: 0;
        margin: 0;

        a
        {
          #effortless > #dimension > .size(25px);
          margin: 0;
          padding: 0;
          vertical-align: bottom;
          background: transparent url('/images/buttons/button-social-icons.png') no-repeat;
        }

        &.twitter a
        {
          background-position: -80px -10px;

          &:hover{background-position: -80px -45px;}
        }

        &.facebook a
        {
          background-position: -10px -10px;

          &:hover{background-position: -10px -45px;}
        }

        &.linkedin a
        {
          background-position: -45px -10px;

          &:hover{background-position: -45px -45px;}
        }

        &.ytube a
        {
          background-position: -115px -10px;

          &:hover{background-position: -115px -45px;}
        }
      }
    }

  }

  // Copyright line at the bottom of the page
  > .copyright
  {
    background: @grey_1;
    display: block;
    font-size: 1.2em;
    text-align: center;
    color: @grey_3;
    padding: 1em 0;
    margin-top: 1em;

  }
}

  /**
  * Default Links
  **/
a
{
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: .25em .5em;
  color: @orange;
  font-weight: normal;

  &:hover{color: @orange_3;}

  &:focus
  {
    position: relative;
    top: 1px;
  }

  > *{cursor: pointer;}
}

// Columnar text layout
.textColumn2{#effortless > #layout > .textColumns(2);}
.textColumn3{#effortless > #layout > .textColumns(3);}
.textColumn4{#effortless > #layout > .textColumns(4);}

// Columnar text layout with dividing rule
.textColumnRule3{#effortless > #layout > .textColumns(3, solid, @grey_1);}
.textColumnRule4{#effortless > #layout > .textColumns(4, solid, @grey_1);}

// Colour focus reversal
.reverse
{
  background-color: @orange;
  color: @white;

  a
  {
    color: @black;

    &:hover{color: @grey;};
  }
}